<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace="com.b0.mybatis.mapper.UserMapper" -->
<mapper namespace="com.tinklebi.sdsb.business.playerheartrate.dao.PlayerHeartRateMapper">
    <insert id="insertPlayerHeartRate">
        INSERT INTO t_player_heart_rate(pl_id, pl_current_heart_rate, create_date, create_person)
        VALUES (#{plId}, #{plCurrentHeartRate}, NOW(), #{operatorId})
    </insert>
    <update id="updatePlayerHeartRate">
        UPDATE t_player_heart_rate
        <set>
            <if test="plCurrentHeartRate != null">
                pl_current_heart_rate = #{plCurrentHeartRate},
            </if>
            <if test="operatorId != null">
                last_modify_person = #{operatorId},
            </if>
            <if test="operatorId != null">
                last_modify_date = NOW(),
            </if>
        </set>
        WHERE pl_id = #{plId}
    </update>
    <delete id="deletePlayerHeartRate">
        DELETE FROM t_player_heart_rate
        WHERE pl_id = #{plId}
    </delete>

    <resultMap id="PlayerHeartRateResultMap" type="com.tinklebi.sdsb.business.playerheartrate.entity.po.PlayerHeartRateDb">
        <result property="plId" column="plId" />
        <result property="playerName" column="playerName" />
    </resultMap>

    <select id="selectPlayerHeartRates" resultMap="PlayerHeartRateResultMap">
        SELECT DISTINCT
        tphr.pl_id AS "plId",
        tp.pl_name AS "playerName"
        FROM t_player_heart_rate tphr
        LEFT JOIN t_player tp on tphr.pl_id = tp.pl_id
        WHERE
        1 = 1
        <if test="plId != null and plId != ''">
            AND tphr.pl_id = #{plId}
        </if>
        <if test="playerName != null and playerName != ''">
            AND tp.pl_name = #{playerName}
        </if>
    </select>

    <select id="selectById" resultType="com.tinklebi.sdsb.business.playerheartrate.entity.vo.PlayerHeartRate">
        SELECT
            pl_id AS plId,
            pl_current_heart_rate AS plCurrentHeartRate,
            create_date AS createDate
        FROM t_player_heart_rate
        WHERE pl_id = #{plId}
    </select>
    
    <resultMap id="playerData" type="com.tinklebi.sdsb.business.playerheartrate.entity.po.PlayerHeartRateData">
        <id property="plId" column="plId"/>
        <association property="playerHeartRateDb"  javaType="com.tinklebi.sdsb.business.playerheartrate.entity.po.PlayerHeartRateDb">
            <result property="playerName" column="playerName"/>
        </association>
        <collection property="heartRateList"
                    javaType="list"
                    ofType="com.tinklebi.sdsb.business.playerheartrate.entity.vo.PlayerHeartRate">
            <id property="createDate" column="createDate"/>
            <result property="plCurrentHeartRate" column="plCurrentHeartRate"/>
        </collection>
    </resultMap>
    
    <select id="selectPlayerData" resultMap="playerData">
        SELECT
        tp.pl_id AS "plId",
        tp.pl_name AS "playerName",
        tphr.pl_current_heart_rate AS "plCurrentHeartRate",
        tphr.create_date AS "createDate"
        FROM t_player_heart_rate tphr
        LEFT JOIN t_player tp on tphr.pl_id = tp.pl_id
        WHERE
        1 = 1
        <if test="plId != null and plId != ''">
            AND tphr.pl_id = #{plId}
        </if>
        <if test="playerName != null and playerName != ''">
            AND tp.pl_name = #{playerName}
        </if>
    </select>
</mapper>

