<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace="com.b0.mybatis.mapper.UserMapper" -->
<mapper namespace="com.tinklebi.sdsb.business.playerheartrate.dao.PlayerHeartRateMapper">
    <insert id="insertPlayerHeartRate">
        INSERT INTO t_player_heart_rate(pl_id, pl_current_heart_rate, create_date, create_person)
        VALUES (#{plId}, #{plCurrentHeartRate}, NOW(), #{operatorId})
    </insert>
    <update id="updatePlayerHeartRate">
        UPDATE t_player_heart_rate
        <set>
            <if test="plCurrentHeartRate != null">
                pl_current_heart_rate = #{plCurrentHeartRate},
            </if>
            <if test="operatorId != null">
                last_modify_person = #{operatorId},
            </if>
            <if test="operatorId != null">
                last_modify_date = NOW(),
            </if>
        </set>
        WHERE pl_id = #{plId}
    </update>
    <delete id="deletePlayerHeartRate">
        DELETE FROM t_player_heart_rate
        WHERE pl_id = #{plId}
    </delete>

    <select id="selectPlayerHeartRates" resultType="com.tinklebi.sdsb.business.playerheartrate.entity.vo.PlayerHeartRate">
        SELECT
        pl_id AS plId,
        pl_current_heart_rate AS plCurrentHeartRate,
        create_date AS createDate
        FROM t_player_heart_rate
        WHERE
        1 = 1
        <if test="plId != null">
            AND pl_id = #{plId}
        </if>
        <!-- Add conditions for other fields if needed -->
    </select>

    <select id="selectById" resultType="com.tinklebi.sdsb.business.playerheartrate.entity.vo.PlayerHeartRate">
        SELECT
            pl_id AS plId
        FROM t_player_heart_rate
        WHERE pl_id = #{plId}
    </select>
</mapper>

